body {
	font-family: $sansSerif;
	font-size: 16px;
	line-height: 1.75;
	color: $text;
	font-weight: 300;
	-webkit-font-smoothing: antialiased;
}
input,
button,
select,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}
a {
	color: #00f;
	text-decoration: none;
}
a:hover,
a:focus {
	text-decoration: underline;
}
a:focus {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}
figure {
	margin: 0;
}
img {
	vertical-align: middle;
	max-width: 100%;
	height: auto;
}
hr {
	margin: 20px 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 700;
	line-height: 3.125rem;
}
h1 {
	font-size: 3em;
	margin: 4.25rem 0 1.75rem;
}
h2 {
	font-size: 2.5em;
	margin: 4rem 0 1.5rem;
}
h3 {
	font-size: 2em;
	margin: 3.75rem 0 1.25rem;
}
h4 {
	font-size: 1.5em;
	margin: 3.5rem 0 1rem;
}
h5 {
	font-size: 1.25em;
	margin: 3.375rem 0 0.875rem;
}
h6 {
	font-size: 1em;
}
p {
	margin: 0 0 1.7em;
}
small {
	font-size: 85%;
}
mark {
	background-color: #ff0;
	padding: .2em;
}
ul,
ol {
	margin-top: 0;
	margin-bottom: 1.7em;
	padding-left: 2.5em;
}
ul ul,
ol ul,
ul ol,
ol ol {
	margin-bottom: 0;
}
dl {
	margin-top: 0;
	margin-bottom: 20px;
}
dt {
	font-weight: bold;
}
dd {
	margin-left: 0;
}
blockquote {
	padding: 10px 30px;
	margin: 0 0 20px;
	font-style: italic;
}
blockquote p:last-child,
blockquote ul:last-child,
blockquote ol:last-child {
	margin-bottom: 0;
}
